* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background-color: aqua;
    color: black;
    font-family: "Fjalla One", Arial;
  }

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overlay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#side-pane {
  display: grid;
  grid-template-columns: 1fr 1fr
}
  

