* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* THIS IS STYLING FOR THE NAVS: */
    #postbook, #postbook2 {
      color: rgb(9, 149, 173);
    }

    #postbook:hover, #postbook2:hover {
      opacity: 70%;
    }

#createPostModal {
  z-index: 1050;
}

.goodbyeModal {
  display: none;
}

/* THIS IS STYLING FOR THE CARDS: */
    #postCards {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 7.5rem 7.5rem 7.5rem;
    }

    #cards {
      margin: 5px;
    }

    .card-title {
      color: rgb(9, 149, 173);
      border-color: black;
    }

    #messageBtn,.new-messageBtn {
      background-color: rgb(9, 149, 173);
      border-color: white;
      color: white
    }

    #send-message {
      justify-content: center;
    }

    #displayMsg {
      padding: 1rem;
    }

    .inactive {
      display: none;
    }

