* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#createPostModal {
  z-index: 1050;
}

.goodbyeModal {
  display: none;
}

#postCards {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

#cards {
  margin: 5px;
}

.inactive {
  display: none;
}

.card-title {
  color: rgb(9, 149, 173);
  border-color: black;
}

#messageBtn {
  background-color: rgb(9, 149, 173);
  border-color: white;
}

#postbook, #postbook2 {
  color: rgb(9, 149, 173);
}

#postbook:hover, #postbook2:hover {
  opacity: 70%;
}
